@import 'custom';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1050;
    height: 120px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Hauteur minimale de la page = hauteur de l'écran */
    max-width: 100vw;
    margin: 0;
    padding: 0;
}

#main-page {
    flex: 1; /* Prend tout l'espace disponible pour pousser le footer en bas */
    padding-top: 120px;
    width: 100vw;
}

body {
    background-color: var(--ecogreen-light); 
}

.bi-tree {
    font-size: 24px;
    color: black;    
}

.col img {
    height: 250px; 
    object-fit: cover;
}

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../Images/hero.avif);
        background-size: cover;
        filter: brightness(0.5);
    }

    *{
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

// Page d'accueil

/* Mise en page normale (Desktop par défaut) */
.presentation {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

#text_accueil {
    flex: 1;
    font-size: 1.2rem;
    font-weight: bold;
}

.image {
    width: 40%;
    max-width: 200px;
    border-radius: 10px;
}


// Champs de recherche navbar

.search-form {
    display: flex;
    align-items: center;
    gap: 8px;
    max-width: 500px; 
}


.search-form input, .search-form button {
    flex: 1; 
    min-width: 140px;
}


//Infos perso navbar

#infos_perso {
    width: 100%; 
    margin-left: 10%;
}

// Pages covoiturages
.filters {
    max-width: 500px;
    margin: auto;
}

.filter-form .form-control {
    width: 200px;
}

.covoiturages .card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.covoiturages img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

// Page de connexion :
.login-container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form .form-control {
    border-radius: 8px;
}

.login-form .btn {
    font-size: 1.2em;
    padding: 10px;
}

//Page d'inscription
.register-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-group .btn {
    font-size: 1.1em;
}

.register-form .form-control {
    border-radius: 8px;
}

.register-form .btn {
    font-size: 1.2em;
    padding: 10px;
}

// Espace conducteur
#carsSection h2, #carpoolsSection h2 {
    display: none;
}

// Suggestions de villes
.autocomplete-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-width: 300px;
    background: white;
    position: absolute;
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #f0f0f0;
}

// media-queries

@media (max-width: 1423px) {
    .navbar {
        height: 150px;
    }
    #main-page {
        padding-top: 150px;
    }
}

@media (max-width: 1320px) {
    .navbar {
        height: 210px;
    }
    #main-page {
        padding-top: 210px;
    }
}

@media (max-width: 930px) {
    #infos_perso {
        margin-left: 5%;
    }
}

@media (max-width: 900px) {
    #infos_perso {
        margin-left: 2%;
    }
}

@media (max-width: 850px) {
    #infos_perso {
        margin-left: 0;
    }
    .navbar {
        position: static;
        height: 370px;
    }
    #main-page {
        padding-top: 370px;
    }
}

@media (max-width: 768px) {
    .filter-form {
        flex-direction: column;
        align-items: center;
    }

    .filter-form .form-control {
        width: 100%;
    }

    .covoiturages .card {
        flex-direction: column;
        text-align: center;
    }
    .text-image {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .text-image:nth-child(1) .image {
        align-self: flex-end;
    }

    .text-image:nth-child(2) .image {
        align-self: flex-start;
    }

    .text-image:nth-child(3) .image {
        align-self: flex-end;
    }

    .image {
        width: 80%;
        max-width: 100%;
    }
    .navbar{
        position: static;
    }
}

@media (max-width: 370px) {
    .navbar {
        position: static;
        height: 500px;
    }
    #main-page {
        padding-top: 500px;
    }
}





